<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org>
<head>
<!-- Meta tags Obrigatórias -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link th:rel="stylesheet"
	th:href="@{webjars/bootstrap/5.0.1/css/bootstrap.min.css}" />

<title>Olá, mundo!</title>
</head>
<body>
	<div>
		<header>
			<div>
				<nav>
				<div>
				<a href="#">Click aqui</a>
				</div>
				</nav>
			</div>
		</header>
	</div>


</body>
</html>